body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.w-fit {
  width: fit-content;
}

.container {
  max-width: 888px;
  margin: auto;
  padding: 0 1rem;
}
